<!doctype html>
<html lang='fa' dir='rtl'>
  <head>
    <meta charset="utf-8" />
    <meta name="Copyright" content="Danial Behzadi" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>شناسهٔ میانرود</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  </head>
  <body style="text-align: start !important">
    <ul>
      {% for male in males %}
        {% if male.father == NULL %}
	<li>{{ male }} 
	{% if male.job %}({{ male.job }}){% endif %}
	{% if male.wife %}
	  {% for wife in male.wife.all %}
	    همسر {{ wife.first_name }}.
	  {% endfor %}
	{% endif %}
	</li>

	  <ul>
	    {% if male.sons %}
              {% for son in male.sons.all %}
                <li>{{ son }} 
                {% if son.job %}({{ son.job }}){% endif %}
                {% if son.wife %}
                  {% for wife in son.wife.all %}
                    همسر {{ wife.first_name }}.
                  {% endfor %}
                {% endif %}
                </li>

		  <ul>
                    {% if son.sons %}
		      {% for gson in son.sons.all %}
                        <li>{{ gson }} 
                        {% if gson.job %}({{ gson.job }}){% endif %}
                        {% if gson.wife %}
                          {% for wife in gson.wife.all %}
                            همسر {{ wife.first_name }}.
                          {% endfor %}
                        {% endif %}
                        </li>

                        <ul>
                          {% if gson.sons %}
                            {% for ggson in gson.sons.all %}
                              <li>{{ ggson }} 
                              {% if ggson.job %}({{ ggson.job }}){% endif %}
                              {% if ggson.wife %}
                                {% for wife in ggson.wife.all %}
                                  همسر {{ wife.first_name }}.
                                {% endfor %}
                              {% endif %}
                              </li>

                              <ul>
                                {% if ggson.sons %}
                                  {% for gggson in ggson.sons.all %}
                                    <li>{{ gggson }} 
                                    {% if gggson.job %}({{ gggson.job }}){% endif %}
                                    {% if gggson.wife %}
                                      {% for wife in gggson.wife.all %}
                                        همسر {{ wife.first_name }}.
                                      {% endfor %}
                                    {% endif %}
                                    </li>
                                   
                                    <ul>
                                      {% if gggson.sons %}
                                        {% for ggggson in gggson.sons.all %}
                                          <li>{{ ggggson }}
                                          {% if ggggson.job %}({{ ggggson.job }}){% endif %}
                                          {% if ggggson.wife %}
                                            {% for wife in ggggson.wife.all %}
                                              همسر {{ wife.first_name }}.
                                            {% endfor %}
                                          {% endif %}
                                          </li>

                                          <ul>
                                            {% if ggggson.sons %}
                                              {% for gggggson in ggggson.sons.all %}
                                                <li>{{ gggggson }}
                                                {% if gggggson.job %}({{ gggggson.job }}){% endif %}
                                                {% if gggggson.wife %}
                                                  {% for wife in gggggson.wife.all %}
                                                    همسر {{ wife.first_name }}.
                                                  {% endfor %}
                                                {% endif %}
                                                </li>

                                              {% endfor %}
                                            {% endif %}
                                            {% if ggggson.daughters %}
                                              {% for daugther in ggggson.daughters.all %}
                                                <li>{{ daugther }}</li>
                                              {% endfor %}
                                            {% endif %}
                                          </ul>
                                          
                                        {% endfor %}
                                      {% endif %}
                                      {% if gggson.daughters %}
                                        {% for daugther in gggson.daughters.all %}
                                          <li>{{ daugther }}</li>
                                        {% endfor %}
                                      {% endif %}
                                    </ul> 
                                    
                                  {% endfor %}
                                {% endif %}
                                {% if ggson.daughters %}
                                  {% for daugther in ggson.daughters.all %}
                                    <li>{{ daugther }}</li>
                                  {% endfor %}
                                {% endif %}
                              </ul>

                            {% endfor %}
                          {% endif %}
                          {% if gson.daughters %}
                            {% for daugther in gson.daughters.all %}
                              <li>{{ daugther }}</li>
                            {% endfor %}
                          {% endif %}
                        </ul>

		      {% endfor %}
		    {% endif %}
		    {% if son.daughters %}
		      {% for daugther in son.daughters.all %}
		        <li>{{ daugther }}</li>
		      {% endfor %}
		    {% endif %}
		  </ul>

	      {% endfor %}
	    {% endif %}
	    {% if male.daughters %}
              {% for daugther in male.daughters.all %}
	        <li>{{ daugther }}</li>
	      {% endfor %}
	    {% endif %}
	  </ul>
        {% endif %}
      {% endfor %}
    </ul>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>
