<!doctype html>
<html lang='fa' dir='rtl'>
  <head>
    <meta charset="utf-8" />
    <meta name="Copyright" content="Danial Behzadi" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>شناسهٔ میانرود</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
     crossorigin="anonymous">
     
    <script type="text/javascript">
      async function get_info(gender, pid) {
        var json;
        var url=gender+'/info/'+pid;
        let response = await fetch(url);
        if (response.ok) {
          json = await response.json();
        }
        else {
          alert("HTTP-Error: " + response.status);
        }
        return json;
      };

      async function get_sons(gender, pid) {
        data = await get_info(gender, pid);
        sons=data['sons'];
        return sons;
      };
      
      async function get_name(gender, pid) {
        info = await get_info(gender, pid);
        var name = info['fname'];
        name += ' ';
        name += info['lname'];
        return name
      };
      
      function make_children(gender, pid, doc) {
        get_sons(gender, pid)
        .then(
          function(sons) {
            if (sons['length'] > 0) {
              var inner = '';
              for (obj in sons) {
                sonid = sons[obj];
                get_name('m', sonid)
                .then(
                  function (name) {
                    inner += '<li>\n';
                    inner += name;
                    inner += '\n</li>';
                    doc.innerHTML=inner;
                    console.log(doc);
                  }
                );
              }
            }
          }
        );
      };
    </script>
  </head>
  <body style="text-align: start !important">
    <ul>
      {% for male in males %}
          <li id='l{{ male.id }}'>
            <script type="text/javascript">
              get_name('m', {{ male.id }})
              .then(
                function(name) {
                  var inner = name;
                  document.getElementById('l{{ male.id }}').innerHTML=inner;
                }
              );
            </script>
            {% if male.sons %}
              <ul id='m{{ male.id }}'>
                <script type="text/javascript">
                  doc = document.getElementById('m{{ male.id }}')
                  make_children('m', {{ male.id }}, doc);
                </script>
              </ul>
            {% endif %}
          </li>
      {% endfor %}
    </ul>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>
